<div class="each-message">
  <div class="row">  
    <div class="col s12 l12">
      <div class="message <%= !current_user.author?(message) ? 'left' : 'right' %>">
        <span class="chip <%= 'blue white-text' if  current_user.author?(message)%>">
          <%= message.content %>
        </span>
      </div>
    </div>
  </div>
</div>