<div class="card">
  <div class="row">
    <div class="col s3 l3">
      <ul class="list-conversation">
        <% current_user.all_conversations.each do |conversation| %>
          <%= render conversation, active: conversation == @conversation ? "current-conversation" : "" %>
        <% end %>
      </ul>
    </div>
    <div class="col s9 l9">
      <div class="conversation">
        <div class="receiver center">
          <p><%= show_name @conversation %></p>
        </div>
        <div class="list-messages">
        <%= render @conversation.messages %> 
        <div class="form-message">
          <%= render 'messages/form' %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div> 