<nav class="nav-extended">
   <div class="nav-wrapper">
    <%= link_to "iMessenger", root_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li><%= link_to "Log Out", log_out_path, method: "delete" %></li>
        <li></li>
      <% else %>

      <% end %>
      <li></li>
      <li></li> 
      <li></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if logged_in? %>
        <li><%= link_to "Log Out", log_out_path, method: "delete" %></li>
        <li></li>
      <% else %> 
        <li></li>
        <% end %>
    </ul>
</div>
</nav>